# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directory
venv/
env/
.venv/

# Ignore model file
VGG_19_model.h5

# Ignore other potential files or directories
.DS_Store
